In [1]:
#import modules
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [4]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
#concat into one dataframe and remove the header from the test df
df = pd.concat([train_df, test_df], sort=False)

In [5]:
df = df.dropna()
df = df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked']]
df.head()

    Survived  Pclass     Sex   Age  SibSp     Fare Embarked
1        1.0       1  female  38.0      1  71.2833        C
3        1.0       1  female  35.0      1  53.1000        S
6        0.0       1    male  54.0      0  51.8625        S
10       1.0       3  female   4.0      1  16.7000        S
11       1.0       1  female  58.0      0  26.5500        S

In [7]:
le = LabelEncoder()

df[['Sex', 'Embarked']] = df[['Sex', 'Embarked']].apply(le.fit_transform)
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Fare', 'Embarked']].values.astype(np.float32)
y = df['Survived'].values.astype(np.float32).reshape(-1, 1)

In [24]:
scaler = StandardScaler()
X = scaler.fit_transform(X)
y = scaler.fit_transform(y)